###############################################################################
#
# Licensed to the Apache Software Foundation (ASF) under one 
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY 
# KIND, either express or implied.  See the License for the 
# specific language governing permissions and limitations
# under the License.
#
###############################################################################

x-logging: &logging
  logging:
    driver: json-file
    options:
      mode: non-blocking
      max-buffer-size: 100m
      max-size: 10m
      max-file: 1

services:
  wis2-grep-backend:
    container_name: wis2-grep-backend
    image: docker.elastic.co/elasticsearch/elasticsearch:8.6.2
    restart: always
    environment:
      - discovery.type=single-node
      - discovery.seed_hosts=[]
      - node.name=elasticsearch-01
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx1024m"
      - cluster.name=es-wis2-grep
      - xpack.security.enabled=false
    mem_limit: 1.5g
    memswap_limit: 1.5g
    volumes:
      - wis2-grep-backend-data:/usr/share/elasticsearch/data:rw
    # ulimits:
    #   nofile:
    #     soft: 524288
    #     hard: 524288
    #   memlock:
    #     soft: -1
    #     hard: -1
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200/wis2-notification-messages/_search"]
      interval: 1m
      retries: 100
    networks:
      - wis2-grep-net
    <<: *logging

  wis2-grep-broker:
    container_name: wis2-grep-broker
    restart: always
    build:
      context: ./wis2-grep-broker/
    env_file:
      - wis2-grep.env
    networks:
      - wis2-grep-net
    <<: *logging

  wis2-grep-management:
    container_name: wis2-grep-management
    build:
      context: ./wis2-grep-management/
    env_file:
      - wis2-grep.env
    environment:
      - WIS2_GREP_API_URL_DOCKER=http://wis2-grep-api
    depends_on:
      wis2-grep-backend:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://wis2-grep-backend:9200/wis2-notification-messages"]
      interval: 5s
      retries: 3
    volumes:
      - wis2-grep-management-data:/data
    restart: always
    command: ["pywis-pubsub", "subscribe", "--config", "/app/docker/pywis-pubsub.yml", "--verbosity", "DEBUG"]
    networks:
      - wis2-grep-net
    <<: *logging

  wis2-grep-api:
    container_name: wis2-grep-api
    build:
      context: ./wis2-grep-api/
    image: geopython/pygeoapi:latest
    depends_on:
      wis2-grep-management:
        condition: service_healthy
    volumes:
      - wis2-grep-management-data:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost/conformance"]
      interval: 5s
      retries: 3
    env_file:
      - wis2-grep.env
    restart: unless-stopped
    networks:
      - wis2-grep-net
    <<: *logging

volumes:
  wis2-grep-backend-data:
  wis2-grep-management-data:

networks:
  wis2-grep-net:
