server:
    bind:
        host: 0.0.0.0
        port: 5000
    url: ${WIS2_GREP_API_URL:-http://localhost}
    mimetype: application/json; charset=UTF-8
    encoding: utf-8
    language: en-US
    cors: true
    pretty_print: true
    limits:
        default_items: 500
        max_items: 10000
    map:
      url: https://tile.openstreetmap.org/{z}/{x}/{y}.png
      attribution: 'Map data &copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
    icon: ${WIS2_GREP_SERVER_ICON:-https://wmo.int/themes/custom/server_theme/dist/images/favicons//favicon-32x32.png}
    logo: ${WIS2_GREP_SERVER_LOGO:-https://upload.wikimedia.org/wikipedia/en/thumb/b/b6/World_Meteorological_Organization_Logo.svg/2560px-World_Meteorological_Organization_Logo.svg.png}

logging:
    level: ${WIS2_GREP_LOGGING_LEVEL:-ERROR}

metadata:
    identification:
        title: ${WIS2_GREP_METADATA_IDENTIFICATION_TITLE:-WMO WIS2 Global Replay instance}
        description: ${WIS2_GREP_METADATA_IDENTIFICATION_DESCRIPTION:-WMO WIS2 Global Replay instance}
        keywords:
            - wmo
            - wis2
            - replay
            - notifications
        keywords_type: theme
        terms_of_service: ${WIS2_GREP_METADATA_IDENTIFICATION_TERMS_OF_SERVICE:-https://creativecommons.org/licenses/by/4.0}
        url: ${WIS2_GREP_METADATA_IDENTIFICATION_URL:-https://github.com/wmo-im/wis2-grep}
    license:
        name: ${WIS2_GREP_METADATA_LICENSE_NAME:-WMO Unified Data Policy}
        url: ${WIS2_GREP_METADATA_LICENSE_URL:-https://library.wmo.int/idurl/4/58009}
    provider:
        name: ${WIS2_GREP_METADATA_PROVIDER_NAME:-WIS2 Global Replay Service API provider name}
        url: ${WIS2_GREP_METADATA_PROVIDER_URL:-https://github.com/wmo-im/wis2-grep}
    contact:
        name: ${WIS2_GREP_METADATA_CONTACT_NAME:-Firstname Lastname}
        position: ${WIS2_GREP_METADATA_CONTACT_POSITION:Position name}
        address: ${WIS2_GREP_METADATA_CONTACT_ADDRESS:-Mailing Address}
        city: ${WIS2_GREP_METADATA_CONTACT_CITY:-City}
        stateorprovince: ${WIS2_GREP_METADATA_CONTACT_STATEORPROVINCE:-Administrative Area}
        postalcode: ${WIS2_GREP_METADATA_CONTACT_POSTALCODE:-Zip or Postal Code}
        country: ${WIS2_GREP_METADATA_CONTACT_COUNTRY:-Country}
        phone: ${WIS2_GREP_METADATA_CONTACT_PHONE:-+xx-xxx-xxx-xxxx}
        fax: ${WIS2_GREP_METADATA_CONTACT_FAX:-+xx-xxx-xxx-xxxx}
        email: ${WIS2_GREP_METADATA_CONTACT_EMAIL:-you@example.org}
        url: ${WIS2_GREP_METADATA_CONTACT_URL:-https://github.com/wmo-im/wis2-grep}
        hours: ${WIS2_GREP_METADATA_CONTACT_HOURS:-Mo-Fr 08:00-17:00}
        instructions: ${WIS2_GREP_METADATA_CONTACT_INSTRUCTIONS:-During hours of service. Off on weekends.}
        role: ${WIS2_GREP_METADATA_CONTACT_ROLE:-pointOfContact}

resources:
    wis2-notification-messages:
        type: collection
        title: WIS2 notification messages
        description: WIS2 notification messages
        keywords: [wmo, wis2, notifications]
        crs:
            - CRS84
        links:
            - type: application/geo+json
              rel: items
              title: Notifications from Météo-France, Global Broker Service
              href: mqtts://everyone:everyone@globalbroker.meteo.fr:8883
              channel: '+/a/wis2/#'
              length: -1
            - type: application/geo+json
              rel: items
              title: Notifications from China Meteorological Agency, Global Broker Service
              href: mqtts://everyone:everyone@gb.wis.cma.cn:8883
              channel: '+/a/wis2/#'
              length: -1
            - type: application/geo+json
              rel: items
              title: Notifications from National Oceanic and Atmospheric Administration, National Weather Service, Global Broker Service
              href: mqtts://everyone:everyone@wis2globalbroker.nws.noaa.gov:8883
              channel: '+/a/wis2/#'
              length: -1
            - type: application/geo+json
              rel: items
              title: Notifications from Instituto Nacional de Meteorologia (Brazil), Global Broker Service
              href: mqtts://everyone:everyone@globalbroker.inmet.gov.br:8883
              channel: '+/a/wis2/#'
              length: -1
            - type: text/html
              rel: canonical
              title: WMO Information System (WIS) | World Meteorological Organization
              href: https://community.wmo.int/en/activity-areas/wis
        extents:
            spatial:
                bbox: [-180, -90, 180, 90]
                crs: http://www.opengis.net/def/crs/OGC/1.3/CRS84
        providers:
            - type: feature
              name: ${WIS2_GREP_BACKEND_TYPE:-Elasticsearch}
              data: ${WIS2_GREP_BACKEND_CONNECTION:-http://wis2-grep-backend:9200/wis2-notification-messages.*}
              id_field: id
              time_field: pubtime

    wis2-grep-subscriber:
        type: process
        processor:
            name: pygeoapi.process.wis2_grep.WIS2GrepSubscriberProcessor
